.pokemon-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.pokemon-info {
    display: flex;
    align-items: center;
}

.pokemon-card > h3 {
    font-weight: 700;
    font-size: 18px;
}